div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    box-shadow: 4px 4px 4px orange;
}
div:hover{
    box-shadow: 5px 3px 5px greenyellow;
}
section{
    background-color: black;
    text-align: center;
    text-shadow: 1px 1px 1px  red;
}   
section:hover{
    background-color: white;
    
    color: green;
    font-size: 2rem;
}